astroid==2.5.6
attrs==20.3.0
bandit==1.7.0
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
gitdb==4.0.7
GitPython==3.1.14
greenlet==1.0.0
iniconfig==1.1.1
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==2.0.3
packaging==20.9
pbr==5.6.0
pluggy==0.13.1
py==1.10.0
pylint==2.8.2
pyparsing==2.4.7
pytest==6.2.3
python-dotenv==0.17.0
PyYAML==5.4.1
six==1.15.0
smmap==4.0.0
SQLAlchemy==1.4.11
stevedore==3.3.0
toml==0.10.2
Werkzeug==1.0.1
wrapt==1.12.1
